@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  background: #1a1a1a url("../assets/images/background.jpeg") no-repeat center;
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-top: 60px;
}
a {
  color:#a7261d;
  text-decoration: none;
}
a:hover {
  color: #e78823;
}
html body div#root main section .primaryBtn {
  background-color: #4CAF50;
  width: 100%;
  margin-top: 5px;
}
html body div#root main section .primaryBtn:hover {
  background-color: #5ac25d;
}
html body div#root main section .primaryBtn:disabled {
  background-color: #e0e0e0;
}
section hr {
  border: 2px solid #ebebeb;
  margin-top: 20px;
}